body{
	background-color: Gainsboro;
	font-family: 'PT Serif', serif;

}

.senderID{
	font-weight: bold;
}

.senderID:hover{
	background-color: dodgerblue;
}

#same{
	 display: inline-block;
}

.subjectID{
	float: right;
}
   

.title{

border-width: 2px;
   border-bottom: 1.5px black solid;
   padding-bottom: 10px;
}

.senderID{
	padding-right: 20px
}

.bodyID{
	display:none;
	font-weight: normal;
}