body{
	background-color: Gainsboro;
	font-family: 'PT Serif', serif;

}

.senderID{
	font-weight: bold;
}

.senderID:hover{
	background-color: dodgerblue;
}

#same{
	 display: inline-block;
}

.subjectID{
	float: right;
}
   

.dateID{

border-width: 2px;
   border-bottom: 1.5px black solid;
   padding-bottom: 10px;
   font-style: italic;
}

.senderID{
	padding-right: 20px
}

.bodyID{
	
	font-weight: normal;
}

.newBodyID{
	
	font-weight: normal;
}

.number{
	color: green;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	position: relative;
    left: 330px;
}


h1{
	text-align: center;;
	font-family: 'Cinzel', serif;

	}

img{
	padding-top: 5px;
	padding-left: 10px;
	height: 50px;
    width: 60px;
}